{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <section class="flex flex-col items-center">
        <a href="/" class="bg-red-400 h-[550px] w-11/12 text-white flex flex-row justify-center items-center text-5xl rounded-4xl my-10"> SECTION OF <h1 class="font-extrabold pl-10 text-8xl">WORKOUTS.</h1></a>
        <a href="/" class="bg-pink-400 h-[550px] w-11/12 text-white flex flex-row justify-center items-center text-5xl rounded-4xl my-10"> SECTION OF <h1 class="font-extrabold pl-10 text-8xl">CALCULATOR.</h1> </a>
        <a href="/" class="bg-cyan-400 h-[550px] w-11/12 text-white flex flex-row justify-center items-center text-5xl rounded-4xl my-10"> SECTION OF <h1 class="font-extrabold pl-10 text-8xl">FOOD.</h1></a>
    </section>
{% endblock %}