<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Gym App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <img class="gym-banner" src="{% static 'media/training-banner.png' %}" alt="My image">
    <nav>
        {% comment %} <a href="/user/register">
            <span role="img" aria-label="Home" title="register">🚀</span>
        </a>  {% endcomment %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>